<div class="container">
  <div class="row">
     <div class="col-md-4">
       <menu></menu>
     </div>
      <div class="col-md-8">
       <span><b>fecha:</b></span> {{pv.hoy | date:'shortDate'}}
       <br> <b> Titulo:</b> Ventas por editorial
        <div class="text-center">
          <label for="">Fecha Inicio</label>
          <input type="date" name="inicio" ng-model="pv.fecha.inicio" /> <br> <br>
           <label for="">Fecha Fin</label>
          <input type="date" name="fin" ng-model="pv.fecha.fin" /> <br><br>
          <label for="">limite:</label>
          <select ng-model="pv.limit">
           <option value="">Seleccione</option>
           <option value="5">5</option>
           <option value="10">10</option>
           <option value="15">15</option>
           <option value="20">20</option>
           <option value="25">25</option>
          </select> <br>
           <button class="btn btn-success" ng-click="pv.procesar()">Procesar</button> <br><br>
        </div>

       <table class="table table-bordered">
        <tr>
         <td>#</td>
         <td>Editorial</td>
         <td>Cantidad</td>
        </tr>
        <tr ng-repeat="prov in pv.proveedores">
          <td>{{$index + 1}}</td>
          <td>{{prov.nombre_editorial}}</td>
          <td>{{prov.cantidad | number}}</td>
        </tr>
       </table>

       <div ng-show="pv.proveedores" class="text-center">
        <label for="">Total de libros vendidos</label> <b>{{pv.valor.total | number}}</b>
        <p class="text-danger">FIN DEL REPORTE</p> <br>
        <button class="btn" ng-click="pv.exportar()">Exportar</button>
        <a class="btn btn-default" href="/">Volver al menu principal</a>
        <br><br>
       </div>
      </div>
  </div>
</div>
