<div class="cssmenu">
 <h3 class="text-center">Menú</h3>
 <h4>Estratégico</h4>
  <ul>
     <li><a href="/estrategico/proveedores">Informe proveedores</a></li>
     <li><a href="/estrategico/ingresos">Informe ingresos</a></li>
     <li><a href="/estrategico/compras">Informe compras</a></li>
     <li><a href="/estrategico/topventas">Informe de ventas de libros</a></li>
     <li><a href="/estrategico/ventacategoria">Informe de ventas por categoria</a></li>
  </ul>
  <h4>Táctico</h4>
  <ul>
   <li><a href="/tactico/inventario">Informe inventario</a></li>
   <li><a href="/tactico/ordencompra">Informe Órdenes Compra</a></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
  </ul>
</div>
